/*Div ID For First Page*/ {
    background-image: url("images/searchpage.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 50%;
    background-size: cover;
}

/*Div ID For Second Page*/ {
    background-image: url("images/resultspage.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 50%;
    background-size: cover;
}

/* Div Id For Third Page*/ {
    background-image: url("images/resturantpage.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 50%;
    background-size: cover;
}
